<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="./css/style.css"></style>
    <link rel="stylesheet" href="fonts/fonts.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css">
    <title>Главная страница</title>
</head>
<body>

    <div id="app">
        <div class="container-fluid landing">
            <div class="row header">
                <div class="header__menu">
                    <div class="header__menu__block">
                        <a href="./index.html">Главная</a>
                    </div>
                    <div class="header__menu__block">
                        <a href="./insert.html">Запись информации</a>
                    </div> 
                    <div class="header__menu__block">
                        <img class="icon" src="icons/basket.svg" alt="">
                    </div>                                        
                </div>
            </div>

            <div class="row info">
                <div class="col-lg-12 info__col">
                    <h1 class="info__col__header">Watch <span>main information</span> </h1>
                    <hr class="neon">
                    <p class="info__col__text">{{ info.info_main }}</p>

                    <div class="info__col__buttons">
                        <div class="info__col__button infoNeon"><a href="./insert.html">Попробовать сейчас</a></div>
                        <div @click="getUsers()" class="info__col__button danger">Установить сейчас</div>
                    </div>
                </div>
            </div>

            <div class="row info">
                <div class="col-lg-12 info__workers">
                   <div v-for="worker in workers" class="info__workers_block">
                       <img src="./images/worker.png" alt="">
                       <div class="info__workers_block__text">
                            <p>{{worker.name}} {{worker.surname}}</p>
                            <p>{{worker.position}}</p>
                            <p>Опыт работы: {{worker.experience}}</p>
                           <p>Ex do ea id exercitation id cillum amet dolore laborum nisi id in consequat adipisicing nostrud ullamco occaecat sint aliqua culpa.</p>
                       </div>
                       
                   </div>                                    
                </div>
            </div>            


        </div>
	</div>
    
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js"></script>
    <script src="https://unpkg.com/vue-router@2.0.0/dist/vue-router.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script
      src="https://code.jquery.com/jquery-3.3.1.min.js"
      integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
      crossorigin="anonymous"></script>
    <script src="./app.js"></script>
</body>
</html>