<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="./css/style.css"></style>
    <link rel="stylesheet" href="fonts/fonts.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css">
    <title>Страница добавления данных</title>
</head>
<body>

    <div id="app">
         <div class="container-fluid insert">
            <div class="row header">
                <div class="header__menu">
                    <div class="header__menu__block">
                        <a href="./index.html">Главная</a>
                    </div>
                    <div class="header__menu__block">
                        <a href="./insert.html">Запись информации</a>
                    </div> 
                    <div class="header__menu__block">
                        <img class="icon" src="icons/basket.svg" alt="">
                    </div>                                        
                </div>
            </div>
            <div class="row insert">
                <div class="col-lg-12 insert__col">
                    <h1 class="insert__col__header">Insert<span>new worker information</span> </h1>
                    <hr class="neon">
                    <p class="insert__col__text">{{info.info_main}}</p>

                    <div class="insert__col__inputs">
                       <input v-model="worker.name" placeholder="Имя" class="insert__col__input " type="text">
                       <input v-model="worker.surname" placeholder="Фамилия" class="insert__col__input " type="text">
                       <input v-model="worker.position" placeholder="Должность" class="insert__col__input " type="text">
                       <input v-model="worker.experience" placeholder="Опыт" class="insert__col__input " type="text">
                       <div @click="insertUser()" class="insert__col__button infoNeon">Добавить нового работника</div>
                    </div>
                </div>
            </div>
        </div>
	</div>
    
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js"></script>
    <script src="https://unpkg.com/vue-router@2.0.0/dist/vue-router.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script
	  src="https://code.jquery.com/jquery-3.3.1.min.js"
	  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
	  crossorigin="anonymous"></script>
    <script src="./app.js"></script>
</body>
</html>