/*work calor #27282A*/
.test{
	text-align: center;
}

*{
	background: #27282A;
	color:#fff;
}

 /* unvisited link */
a:link {
    color: #fff;
    text-decoration: none;
}

/* visited link */
a:visited {
    color: #fff;
    text-decoration: none;
}

/* mouse over link */
a:hover {
    color: #fff !important;
    text-decoration: none !important;
}

/* selected link */
a:active {
    color: #fff;
    text-decoration: none;
}

body{

	padding: 0px;
	margin: 0px;
}

.container-fluid{
	margin: 0px !important;
	padding: 0px !important;
}


/*Стили для первой страницы*/
.landing{
	display: flex;
	flex-direction:column;
	align-items:center;
	justify-content:center;
}

.header{
	width: 100%;
	margin:0px; 
	border-bottom: 1px solid #777;
	display: flex;
	flex-direction:row;
	align-items:center;
	justify-content:flex-end;
}

.header__menu{
	display: flex;
	flex-direction:row;
	align-items:center;
	justify-content:center;
}

.header__menu__block{
	min-width: 150px;
	min-height: 50px;

	display: flex;
	flex-direction:column;
	align-items:center;
	justify-content:center;

	cursor: pointer;

	font-family: "Raleway Regular";

	text-transform: uppercase;

}


.header__menu__block a{
	font-size: 12px;

	width: 150px;
	height: 50px;

	display: flex;
	flex-direction:column;
	align-items:center;
	justify-content:center;
}

.header__menu__block:hover{
	border-bottom: 2px solid #fff;

}

.icon{
	height: 15px;
	width: auto;
}

.info{
	width: 100%;
}

.info__col{
	background-image: url("../images/back.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;

	background-attachment: fixed;
	
	height: 650px;

	display: flex;
	flex-direction:column;
	align-items:center;
	justify-content:center;
}

.info__col__header{
	background: transparent;
	text-transform: uppercase;

	font-size: 62px;

	font-family: "Raleway ExtraLight";
}

.info__col__header span{
	background: transparent;
	text-transform: uppercase;

	font-size: 12px;

	font-family: "Raleway ExtraLight";
}

.neon{
	margin-top: -15px;
	width: 50px;
	height: 1px;
	background: #08CDC9;
}

.info__col__text{
	width: 50%;
	background: transparent;
	color:#888;

	font-family: "Raleway SemiBold";

	text-align: center;
}

.info__col__buttons{
	display: flex;
	flex-direction:row;
	align-items:center;
	justify-content:center;

	padding: 15px;
	background-color: transparent;
}

.info__col__button{
	font-family: "Raleway SemiBold";
	padding: 15px;
	cursor: pointer;

	font-size: 14px;

	width: 200px;
	height: 50px;
	
	text-align: center;

	display: flex;
	flex-direction:row;
	align-items:center;
	justify-content:center;

	background-color: transparent;

	margin:0px 15px;
	transition: all .2s ease;

}

.info__col__button:hover{
	transform: scale(1.1);
}

.info__col__button.danger{
	background-color: #E84C3D;
}

.info__col__button.infoNeon{
	border:1px solid #08CDC9;
	color:#08CDC9;
}

.info__col__button.infoNeon a{
	color:#08CDC9;
}

.info__workers{
	background-image: url("../images/back3.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;

	background-attachment: fixed;
	
	min-height: 650px !important;

	display: flex;
	flex-direction:column;
	align-items:center;
	justify-content:center;

	padding: 25px;
}

.info__workers_block{
	padding: 15px;
	width: 65%;

	margin: 15px;

	display: flex;
	flex-direction:row;
	align-items:center;
	justify-content:center;

	background: transparent;

	border: 1px solid #888;
}

.info__workers_block img{
	height: 85px;
	width: auto;

	margin: 15px;
	background: transparent;
	border: 1px solid #888;
	border-radius: 100%;
}

.info__workers_block p{
	font-family: 'Raleway Regular';
	font-size: 14px;
	color:#888;

	margin: 15px;
	background: transparent;

}

.info__workers_block__text{
	background-color: transparent;
	display: flex;
	flex-direction:column;
	align-items:flex-start;
	justify-content:center;
}

/*Тут уже стили для второй страницы*/
.insert{
	display: flex;
	flex-direction:column;
	align-items:center;
	justify-content:center;
}

.insert{
	width: 100%;
}

.insert__col{
	background-image: url("../images/back2.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;

	background-attachment: fixed;
	
	height: 650px;

	display: flex;
	flex-direction:column;
	align-items:center;
	justify-content:center;
}

.insert__col__header{
	background: transparent;
	text-transform: uppercase;

	font-size: 62px;

	font-family: "Raleway ExtraLight";
}

.insert__col__header span{
	background: transparent;
	text-transform: uppercase;

	font-size: 12px;

	font-family: "Raleway ExtraLight";
}

.neon{
	margin-top: -15px;
	width: 50px;
	height: 1px;
	background: #08CDC9;
}

.insert__col__text{
	width: 50%;
	background: transparent;
	color:#888;

	font-family: "Raleway SemiBold";

	text-align: center;
}

.insert__col__inputs{
	display: flex;
	flex-direction:column;
	align-items:center;
	justify-content:center;

	padding: 15px;
	background-color: transparent;
}

.insert__col__input{
	font-family: "Raleway SemiBold";
	padding: 15px;
	cursor: pointer;

	width: 200px;
	height: 30px;
	
	text-align: left;

	display: flex;
	flex-direction:row;
	align-items:center;
	justify-content:center;

	background-color: transparent;

	margin:18px 15px;
	transition: all .2s ease;

}

.insert__col__button{
	font-family: "Raleway SemiBold";
	padding: 15px;
	cursor: pointer;

	width: 200px;
	height: 50px;


	text-align: left;

	display: flex;
	flex-direction:row;
	align-items:center;
	justify-content:center;

	background-color: transparent;

	margin:18px 15px;
	transition: all .2s ease;	
}



.insert__col__button:hover{
	transform: scale(1.1);
}

.insert__col__button.danger{
	background-color: #E84C3D;
}

.insert__col__button.infoNeon{
	border:1px solid #08CDC9;
	color:#08CDC9;

	font-size: 12px;
}



.insert__col__button.neon{
	border:1px solid #08CDC9;
	color:#08CDC9;
}